# Fazendo busca dentro de dicionarios e retornando resultados especificos

In [1]:
dados = {
    'Passat':{
        'ano': 2012,
        'km': 50000,
        'valor': 75000,
        'acessorios': ['Airbag', 'ABS']
    },
    'Crossfox':{
        'ano': 2015,
        'km': 35000,
        'valor':25000
    }
}

In [2]:
'acessorios'  in dados['Crossfox']

False

In [3]:
'acessorios'  in dados['Passat']

True

In [4]:
dados['Crossfox']['valor']

25000

In [6]:
dados['Passat']['acessorios'][-1]

'ABS'

# O método pop() precisa de argumento, se não retorna um erro

In [1]:
dados = {'Jetta': 88000, 'Crossfox': 72000, 'DS5': 124000}

In [2]:
dados.pop()

TypeError: pop expected at least 1 argument, got 0

# Existem duas maneiras de atualizar um dicionario

In [3]:
dados.update({'Passat': 85000, 'Fusca': 150000})

In [4]:
dados

{'Jetta': 88000,
 'Crossfox': 72000,
 'DS5': 124000,
 'Passat': 85000,
 'Fusca': 150000}

In [5]:
dados = {'Jetta': 88000, 'Crossfox': 72000, 'DS5': 124000}

In [6]:
dados

{'Jetta': 88000, 'Crossfox': 72000, 'DS5': 124000}

In [7]:
dados.update(Passat = 95000, Fusca = 160000)

In [8]:
dados

{'Jetta': 88000,
 'Crossfox': 72000,
 'DS5': 124000,
 'Passat': 95000,
 'Fusca': 160000}

# Imprimindo somente os nomes dos veículos com ano de fabricação maior ou igual a 2000

In [9]:
dados = {
    'Crossfox':{'valor': 72000, 'ano': 2005},
    'DS5':{'valor': 125000, 'ano': 2015},
    'Fusca':{'valor': 150000, 'ano': 1976},
    'Jetta':{'valor': 88000, 'ano': 2010},
    'Passat':{'valor': 106000, 'ano': 1998}
}

In [10]:
dados

{'Crossfox': {'valor': 72000, 'ano': 2005},
 'DS5': {'valor': 125000, 'ano': 2015},
 'Fusca': {'valor': 150000, 'ano': 1976},
 'Jetta': {'valor': 88000, 'ano': 2010},
 'Passat': {'valor': 106000, 'ano': 1998}}

In [11]:
for item in dados.items():
    if(item[1]['ano'] >= 2000):
        print(item[0])

Crossfox
DS5
Jetta

# Funções Built-In

In [18]:
 # Retorna um tipo de objeto
type?

Init signature: type(self, /, *args, **kwargs)
Docstring:
type(object) -> the object's type
type(name, bases, dict, **kwds) -> a new type
Type:           type
Subclasses:     ABCMeta, EnumMeta, NamedTupleMeta, _TypedDictMeta, _ABC, MetaHasDescriptors, PyCStructType, UnionType, PyCPointerType, PyCArrayType, ...

In [19]:
# Cria um dicionario
dict?

Init signature: dict(self, /, *args, **kwargs)
Docstring:
dict() -> new empty dictionary
dict(mapping) -> new dictionary initialized from a mapping object's
    (key, value) pairs
dict(iterable) -> new dictionary initialized as if via:
    d = {}
    for k, v in iterable:
        d[k] = v
dict(**kwargs) -> new dictionary initialized with the name=value pairs
    in the keyword argument list.  For example:  dict(one=1, two=2)
Type:           type
Subclasses:     OrderedDict, _EnumDict, defaultdict, Counter, Bunch, StgDict, Config, _DefaultOptionDict, ObjectDict, TimeRE, ...

In [6]:
# A função correta é tuple(), não tupla()
tupla?

Object `tupla` not found.

In [20]:
# Retorna um iterador de tuplas
zip?

Init signature: zip(self, /, *args, **kwargs)
Docstring:
zip(*iterables) --> A zip object yielding tuples until an input is exhausted.

   >>> list(zip('abcdefg', range(3), range(4)))
   [('a', 0, 0), ('b', 1, 1), ('c', 2, 2)]

The zip object yields n-length tuples, where n is the number of iterables
passed as positional arguments to zip().  The i-th element in every tuple
comes from the i-th iterable argument to zip().  This continues until the
shortest argument is exhausted.
Type:           type
Subclasses:

# Funções com ou sem parametros

    Uma tarefa importante em um trabalho de cientista de dados é o tratamento
    do dataset que vamos utilizar. Essa tarefa é dividida em várias etapas
    e uma delas é a sumarização dos dados, onde obtemos estatísticas descritivas
    para ajudar nas tomadas de decisão.

    Algumas sumarizações precisam de um conjunto de elaborações, que devem ser
    desenvolvidas pelo próprio pesquisador. Neste ponto, as funções são bastante
    úteis no trabalho do cientista de dados. Com elas, podemos definir um conjunto
    de tarefas específicas, que recebem entradas e retornam resultados, e reutilizar
    esta codificação em outras partes de nosso projeto.

    Um exemplo disso em nosso projeto é o cálculo da quilometragem média que um veículo
    rodou por ano. Não existe uma função pronta para o cálculo desta estatística em Python,
    e por isso precisamos escrever uma função que obtenha este valor.

    Considere o conjunto de informações abaixo para responder o problema:

            km_media = km_total / (ano_atual - ano_fabricação)

    
    A função para este problema é a seguinte:

In [21]:
dados = {
    'Crossfox':{'km': 35000, 'ano': 2005},
    'DS5':{'km': 17000, 'ano': 2015},
    'Fusca':{'km': 130000, 'ano': 1979},
    'Jetta': {'km': 56000, 'ano': 2011},
    'Passat': {'km':62000, 'ano': 1999}
}

In [27]:
def km_media(dataset, ano_atual):
    for item in dataset.items():
        result = item[1]['km']/ (ano_atual - item[1]['ano'])
        
        print(result)

In [28]:
km_media(dados, 2019)

2500.0
4250.0
3250.0
7000.0
3100.0

# Melhorando a nossa Função

        No problema anterior, definimos uma função para obter a
        quilometragem média anual de cada veiculo em um dataset.
        Precisamos melhorar um pouco a nossa função e obter valores
        que possam ser reutilizados em outras partes do nosso projeto.

In [29]:
dados = {
    'Crossfox':{'km': 35000, 'ano': 2005},
    'DS5':{'km': 17000, 'ano': 2015},
    'Fusca':{'km': 130000, 'ano': 1979},
    'Jetta': {'km': 56000, 'ano': 2011},
    'Passat': {'km':62000, 'ano': 1999}
}

In [36]:
def km_media(dataset, ano_atual):
    result = {}
    for item in dataset.items():
        media = item[1]['km']/ (ano_atual - item[1]['ano'])
        
        result.update({item[0]: media})
    
    return result

In [37]:
km_media(dados, 2019)

{'Crossfox': 2500.0,
 'DS5': 4250.0,
 'Fusca': 3250.0,
 'Jetta': 7000.0,
 'Passat': 3100.0}

# Elaborando um pouco mais a nossa função

        A estrutura a seguir é a definição de uma função que calcula as
        quilometragens médias anuais de cada veículo, atualiza o dicionário
        de entrada e retorna este dicionário:

In [38]:
dados = {
    'Crossfox':{'km': 35000, 'ano': 2005},
    'DS5':{'km': 17000, 'ano': 2015},
    'Fusca':{'km': 130000, 'ano': 1979},
    'Jetta': {'km': 56000, 'ano': 2011},
    'Passat': {'km':62000, 'ano': 1999}
}

In [44]:
def km_media(dataset, ano_atual):
    result = {}
    for item in dataset.items():
        media = item[1]['km']/ (ano_atual - item[1]['ano'])
        
        item[1].update({'km_media':media})
        result.update({item[0]:item[1]})
        
    return result

In [45]:
km_media(dados, 2019)

{'Crossfox': {'km': 35000, 'ano': 2005, 'km_media': 2500.0},
 'DS5': {'km': 17000, 'ano': 2015, 'km_media': 4250.0},
 'Fusca': {'km': 130000, 'ano': 1979, 'km_media': 3250.0},
 'Jetta': {'km': 56000, 'ano': 2011, 'km_media': 7000.0},
 'Passat': {'km': 62000, 'ano': 1999, 'km_media': 3100.0}}

# Criando DataFrames

In [8]:
import pandas as pd

In [9]:
dados = {
    'Crossfox':{'km': 35000, 'ano': 2005},
    'DS5':{'km': 17000, 'ano': 2015},
    'Fusca':{'km': 130000, 'ano': 1979},
    'Jetta': {'km': 56000, 'ano': 2011},
    'Passat': {'km':62000, 'ano': 1999}
}

In [10]:
def km_media(dataset, ano_atual):
    result = {}
    for item in dataset.items():
        media = item[1]['km']/ (ano_atual - item[1]['ano'])
        
        item[1].update({'km_media':media})
        result.update({item[0]:item[1]})
        
    return result

In [11]:
km_media(dados, 2019)

{'Crossfox': {'km': 35000, 'ano': 2005, 'km_media': 2500.0},
 'DS5': {'km': 17000, 'ano': 2015, 'km_media': 4250.0},
 'Fusca': {'km': 130000, 'ano': 1979, 'km_media': 3250.0},
 'Jetta': {'km': 56000, 'ano': 2011, 'km_media': 7000.0},
 'Passat': {'km': 62000, 'ano': 1999, 'km_media': 3100.0}}

    A forma correta de se criar um DataFrame com o resultado obtido
    pela função acima é:

    Dica: Para resolver, será necessário relembrar de um recurso que
    existe também nos arrays de Numpy. Este recurso também pode ser aplicado a DataFrames do pandas:

        ndarray.T: Retorna o array transposto, isto é, converte linhas em colunas e
        vice versa.

In [20]:
carros = pd.DataFrame(km_media(dados,2019)).T

In [21]:
carros

                km     ano  km_media
Crossfox   35000.0  2005.0    2500.0
DS5        17000.0  2015.0    4250.0
Fusca     130000.0  1979.0    3250.0
Jetta      56000.0  2011.0    7000.0
Passat     62000.0  1999.0    3100.0

# Fatiamentos com DataFrames

In [22]:
dados = {
    'Nome': ['Jetta', 'Passat', 'Crossfox', 'DS5', 'Fusca'],
    'Motor': ['Motor 4.0 turbo', 'Motor Diesel', 'Motor Diesel V8', 'Motor 2.0', 'Motor 1.6'],
    'Ano': [2019, 2003, 1991, 2019, 1990],
    'Quilometragem': [0.0, 5712.0, 37123.0, 0.0, 120000.0],
    'Zero_km': [True, False, False, True, False],
    'Valor': [88000.0, 106000.0, 72000.0, 89000.0, 32000.0]
}

In [23]:
dataset = pd.DataFrame(dados)

        O código que seleciona somente as informações de Nome, Ano, Quilometragem e Valor dos
        carros Passat e Crossfox é:

In [38]:
#Errado! A indexação em um DataFrame tem origem no zero.
# E nos fatiamentos([i:j]), a linha com índice i é incluída e a linha índice j não é incluída no resultado
dataset[['Nome', 'Ano', 'Quilometragem', 'Valor'][1:2]]

    Ano
0  2019
1  2003
2  1991
3  2019
4  1990

In [35]:
#Errado! Quando precisamos selecionar mais de uma coluna de um DataFrame, devemos passar colchetes duplos
dataset[['Nome', 'Ano', 'Quilometragem', 'Valor'][1:3]]

    Ano  Quilometragem
0  2019            0.0
1  2003         5712.0
2  1991        37123.0
3  2019            0.0
4  1990       120000.0

In [37]:
# Correto! Note que a ordem que definimos as seleções é indiferente
dataset[['Nome', 'Ano', 'Quilometragem', 'Valor']][1:3]

# o código abaixo retorna o mesmo resultado
#dataset[1:3][['Nome', 'Ano', 'Quilometragem', 'Valor']]

       Nome   Ano  Quilometragem     Valor
1    Passat  2003         5712.0  106000.0
2  Crossfox  1991        37123.0   72000.0

In [29]:
# Errado! Lembre-se que a indexação começa no zero. O código abaixo seleciona as informações dos carros
# Crossfox e DS5
dataset[['Nome', 'Ano', 'Quilometragem', 'Valor']][2:4]

       Nome   Ano  Quilometragem    Valor
2  Crossfox  1991        37123.0  72000.0
3       DS5  2019            0.0  89000.0

# Utilizando .loc e .iloc para seleções

In [48]:
dados = {
    'Motor': ['Motor 4.0 turbo', 'Motor Diesel', 'Motor Diesel V8', 'Motor 2.0', 'Motor 1.6'],
    'Ano': [2019, 2003, 1991, 2019, 1990],
    'Quilometragem': [0.0, 5712.0, 37123.0, 0.0, 120000.0],
    'Zero_km': [True, False, False, True, False],
    'Valor': [88000.0, 106000.0, 72000.0, 89000.0, 32000.0]
}

In [49]:
dataset = pd.DataFrame(dados, index=['Jetta', 'Passat', 'Crossfox', 'DS5', 'Fusca'])

In [50]:
dataset

                    Motor   Ano  Quilometragem  Zero_km     Valor
Jetta     Motor 4.0 turbo  2019            0.0     True   88000.0
Passat       Motor Diesel  2003         5712.0    False  106000.0
Crossfox  Motor Diesel V8  1991        37123.0    False   72000.0
DS5             Motor 2.0  2019            0.0     True   89000.0
Fusca           Motor 1.6  1990       120000.0    False   32000.0

    A seguir a seleção deve retornar o seguinte DataFrame:

                Motor       Valor
    Passat   Motor Diesel   106000.0
    DS5       Motor 2.0     89000.0

In [54]:
# Correto! Utilizando .iloc, as seleções são feitas pela posição das linhas e colunas, isto é,
# utilizando os índices numéricos do DataFrame
dataset.iloc[[1,3], [0, -1]]

               Motor     Valor
Passat  Motor Diesel  106000.0
DS5        Motor 2.0   89000.0

In [43]:
# Errado! Com .iloc, as seleções são realizadas pelos índices numéricos do DataFrame,
# isto é, pela posição das linhas e colounas. Lembrado que a indexação tem origem zero.
dataset.iloc[['Passat', 'DS5'], ['Motor', 'Valor']]

IndexError: .iloc requires numeric indexers, got ['Passat' 'DS5']

In [52]:
# Correto! Utilizando .loc, podemos fazer seleções utilizando os rótulos das linhas e colunas de um DataFrame
dataset.loc[['Passat', 'DS5'], ['Motor', 'Valor']]

               Motor     Valor
Passat  Motor Diesel  106000.0
DS5        Motor 2.0   89000.0

In [53]:
# Errado! Com .loc, as seleções são feitas pelos rótulos das linhas e colounas
dataset.loc[[1,3], [0, -1]]

KeyError: "None of [Int64Index([1, 3], dtype='int64')] are in the [index]"

# Realizando consultas em um DataFrame

In [55]:
dados = {
    'Motor': ['Motor 4.0 turbo', 'Motor Diesel', 'Motor Diesel V8', 'Motor 2.0', 'Motor 1.6'],
    'Ano': [2019, 2003, 1991, 2019, 1990],
    'Quilometragem': [0.0, 5712.0, 37123.0, 0.0, 120000.0],
    'Zero_km': [True, False, False, True, False],
    'Valor': [88000.0, 106000.0, 72000.0, 89000.0, 32000.0]
}

In [56]:
dataset = pd.DataFrame(dados, index=['Jetta', 'Passat', 'Crossfox', 'DS5', 'Fusca'])

        Queremos retornar o DataFrame abaixo:

                        Motor           Ano             Quilometragem           Zero_km         Valor
        Jetta      Motor 4.0 turbo      2019                 0.0                  True         88000.0
        Passat      Motor Diesel        2003                5712.0                False       106000.0
        DS5         Motor Diesel        2019                 0.0                  True         89000.0

In [57]:
dataset.query('Motor == "Motor Diesel" or Zero_km == True')

                  Motor   Ano  Quilometragem  Zero_km     Valor
Jetta   Motor 4.0 turbo  2019            0.0     True   88000.0
Passat     Motor Diesel  2003         5712.0    False  106000.0
DS5           Motor 2.0  2019            0.0     True   89000.0

In [59]:
dataset[(dataset.Motor == 'Motor Diesel') | (dataset.Zero_km == True)]

                  Motor   Ano  Quilometragem  Zero_km     Valor
Jetta   Motor 4.0 turbo  2019            0.0     True   88000.0
Passat     Motor Diesel  2003         5712.0    False  106000.0
DS5           Motor 2.0  2019            0.0     True   89000.0

In [60]:
dataset.query('Motor == "Motor Diesel" | Zero_km == True')

                  Motor   Ano  Quilometragem  Zero_km     Valor
Jetta   Motor 4.0 turbo  2019            0.0     True   88000.0
Passat     Motor Diesel  2003         5712.0    False  106000.0
DS5           Motor 2.0  2019            0.0     True   89000.0

# Formas de iteração em um DataFrame

    iterrows()
Este foi o método que vimos em nossa aula. Avalie a documentação para mais informações:
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iterrows.html.

    items()
Itera pelas colunas do DataFrame, utilizando uma tupla, onde o primeiro item
é o nome da coluna e o segundo é uma Series, com todo o conteúdo da coluna.
Mais informações em:
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.items.html.

    itertuples()
Este método itera pelas linhas do DataFrame, utilizando um tipo de tupla nomeada com o conteúdo de cada
linha do DataFrame. Avalie a documentação:
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.itertuples.html.

# Identificando e tratando dados faltantes

Avalie as afirmativas abaixo:

1) isna() - Detecta valores faltantes. Retorna um DataFrame ou uma Series booleana, identificando
se o registro é um NA

2) fillna() - Preenche os registros identificados com NA, utilizando um método específico

3) dropna() - Remove registros com valores identificados como NA

Quais afirmativas estão corretas?

        Todas as alternativas estão corretas
        # Lembre-se que o tipo de tratamento que aplicamos em nosso dado deve dempre considerar
            os objetivos de nosso estudo.